In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [8]:
admissions = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/admissions.csv")
diagnoses = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/diagnoses_icd.csv")
patients =  pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/patients.csv")
procedures = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/procedures_icd.csv")
prescriptions =  pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/prescriptions.csv")
# labevents =  pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/labevents.csv")

dischargenotes = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/discharge.csv")

/var/folders/kx/dxkg_2js1jj24wlz2dl_1rxh0000gn/T/ipykernel_84296/4015425077.py:5: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  prescriptions =  pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/prescriptions.csv")
/var/folders/kx/dxkg_2js1jj24wlz2dl_1rxh0000gn/T/ipykernel_84296/4015425077.py:8: DtypeWarning: Columns (1,2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  dischargenotes = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/discharge.csv")

In [9]:
print(admissions.head())
admissions.info()

   subject_id   hadm_id            admittime            dischtime deathtime  \
0    10000032  22595853  2180-05-06 22:23:00  2180-05-07 17:15:00       NaN
1    10000032  22841357  2180-06-26 18:27:00  2180-06-27 18:49:00       NaN
2    10000032  25742920  2180-08-05 23:44:00  2180-08-07 17:50:00       NaN
3    10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00       NaN
4    10000068  25022803  2160-03-03 23:16:00  2160-03-04 06:26:00       NaN

   admission_type admit_provider_id      admission_location  \
0          URGENT            P49AFC  TRANSFER FROM HOSPITAL
1        EW EMER.            P784FA          EMERGENCY ROOM
2        EW EMER.            P19UTS          EMERGENCY ROOM
3        EW EMER.            P06OTX          EMERGENCY ROOM
4  EU OBSERVATION            P39NWO          EMERGENCY ROOM

  discharge_location insurance language marital_status   race  \
0               HOME  Medicaid  English        WIDOWED  WHITE
1               HOME  Medicaid  English        WIDOWED  WHITE
2            HOSPICE  Medicaid  English        WIDOWED  WHITE
3               HOME  Medicaid  English        WIDOWED  WHITE
4                NaN       NaN  English         SINGLE  WHITE

             edregtime            edouttime  hospital_expire_flag
0  2180-05-06 19:17:00  2180-05-06 23:30:00                     0
1  2180-06-26 15:54:00  2180-06-26 21:31:00                     0
2  2180-08-05 20:58:00  2180-08-06 01:44:00                     0
3  2180-07-23 05:54:00  2180-07-23 14:00:00                     0
4  2160-03-03 21:55:00  2160-03-04 06:26:00                     0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546028 entries, 0 to 546027
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            546028 non-null  int64
 1   hadm_id               546028 non-null  int64
 2   admittime             546028 non-null  object
 3   dischtime             546028 non-null  object
 4   deathtime             11790 non-null   object
 5   admission_type        546028 non-null  object
 6   admit_provider_id     546024 non-null  object
 7   admission_location    546027 non-null  object
 8   discharge_location    396210 non-null  object
 9   insurance             536673 non-null  object
 10  language              545253 non-null  object
 11  marital_status        532409 non-null  object
 12  race                  546028 non-null  object
 13  edregtime             379240 non-null  object
 14  edouttime             379240 non-null  object
 15  hospital_expire_flag  546028 non-null  int64
dtypes: int64(3), object(13)
memory usage: 66.7+ MB

In [10]:
print(diagnoses.head())
diagnoses.info()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6364488 entries, 0 to 6364487
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   subject_id   int64
 1   hadm_id      int64
 2   seq_num      int64
 3   icd_code     object
 4   icd_version  int64
dtypes: int64(4), object(1)
memory usage: 242.8+ MB

In [11]:
print(patients.head())
patients.info()

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN
2    10000058      F          33         2168       2020 - 2022         NaN
3    10000068      F          19         2160       2008 - 2010         NaN
4    10000084      M          72         2160       2017 - 2019  2161-02-13
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364627 entries, 0 to 364626
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   subject_id         364627 non-null  int64
 1   gender             364627 non-null  object
 2   anchor_age         364627 non-null  int64
 3   anchor_year        364627 non-null  int64
 4   anchor_year_group  364627 non-null  object
 5   dod                38301 non-null   object
dtypes: int64(3), object(3)
memory usage: 16.7+ MB

In [12]:
print(procedures.head())
procedures.info()

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10000032  22595853        1  2180-05-07     5491            9
1    10000032  22841357        1  2180-06-27     5491            9
2    10000032  25742920        1  2180-08-06     5491            9
3    10000068  25022803        1  2160-03-03     8938            9
4    10000117  27988844        1  2183-09-19  0QS734Z           10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859655 entries, 0 to 859654
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   subject_id   859655 non-null  int64
 1   hadm_id      859655 non-null  int64
 2   seq_num      859655 non-null  int64
 3   chartdate    859655 non-null  object
 4   icd_code     859655 non-null  object
 5   icd_version  859655 non-null  int64
dtypes: int64(4), object(2)
memory usage: 39.4+ MB

In [13]:
print(prescriptions.head())
prescriptions.info()

   subject_id   hadm_id  pharmacy_id       poe_id  poe_seq order_provider_id  \
0    10000032  22595853     12775705  10000032-55     55.0            P85UQ1
1    10000032  22595853     18415984  10000032-42     42.0            P23SJA
2    10000032  22595853     23637373  10000032-35     35.0            P23SJA
3    10000032  22595853     26862314  10000032-41     41.0            P23SJA
4    10000032  22595853     30740602  10000032-27     27.0            P23SJA

             starttime             stoptime drug_type  \
0  2180-05-08 08:00:00  2180-05-07 22:00:00      MAIN
1  2180-05-07 02:00:00  2180-05-07 22:00:00      MAIN
2  2180-05-07 01:00:00  2180-05-07 09:00:00      MAIN
3  2180-05-07 01:00:00  2180-05-07 01:00:00      MAIN
4  2180-05-07 00:00:00  2180-05-07 22:00:00      MAIN

                          drug  ...     gsn           ndc    prod_strength  \
0                   Furosemide  ...  008209  5.107901e+10      40mg Tablet
1      Ipratropium Bromide Neb  ...  021700  4.879801e+08       2.5mL Vial
2                   Furosemide  ...  008208  5.107901e+10      20mg Tablet
3           Potassium Chloride  ...  001275  2.450041e+08  10mEq ER Tablet
4  Sodium Chloride 0.9%  Flush  ...     NaN  0.000000e+00    10 mL Syringe

  form_rx dose_val_rx dose_unit_rx form_val_disp form_unit_disp  \
0     NaN          40           mg             1            TAB
1     NaN           1          NEB             1           VIAL
2     NaN          20           mg             1            TAB
3     NaN          40          mEq             4            TAB
4     NaN           3           mL           0.3            SYR

  doses_per_24_hrs  route
0              1.0  PO/NG
1              4.0     IH
2              1.0  PO/NG
3              1.0     PO
4              3.0     IV

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20292611 entries, 0 to 20292610
Data columns (total 21 columns):
 #   Column             Dtype
---  ------             -----
 0   subject_id         int64
 1   hadm_id            int64
 2   pharmacy_id        int64
 3   poe_id             object
 4   poe_seq            float64
 5   order_provider_id  object
 6   starttime          object
 7   stoptime           object
 8   drug_type          object
 9   drug               object
 10  formulary_drug_cd  object
 11  gsn                object
 12  ndc                float64
 13  prod_strength      object
 14  form_rx            object
 15  dose_val_rx        object
 16  dose_unit_rx       object
 17  form_val_disp      object
 18  form_unit_disp     object
 19  doses_per_24_hrs   float64
 20  route              object
dtypes: float64(3), int64(3), object(15)
memory usage: 3.2+ GB

In [14]:
print(dischargenotes.head())
dischargenotes.info()

                                                                                                                                       discharge
note_id        subject_id hadm_id  note_type note_seq charttime           storetime                                                         text
10000032-DS-21 10000032   22595853 DS        21       2180-05-07 00:00:00 2180-05-09 15:26:00  Name:  ___                     Unit No:   ___\...
10000032-DS-22 10000032   22841357 DS        22       2180-06-27 00:00:00 2180-07-01 10:15:00  Name:  ___                     Unit No:   ___\...
10000032-DS-23 10000032   29079034 DS        23       2180-07-25 00:00:00 2180-07-25 21:42:00  Name:  ___                     Unit No:   ___\...
10000032-DS-24 10000032   25742920 DS        24       2180-08-07 00:00:00 2180-08-10 05:43:00  Name:  ___                     Unit No:   ___\...
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 96416 entries, ('note_id', 'subject_id', 'hadm_id', 'note_type', 'note_seq', 'charttime', 'storetime') to ('12920828-DS-8', 12920828, 28369881, 'DS', 8, '2141-01-31 00:00:00', '2141-01-31 22:59:00')
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   discharge  96416 non-null  object
dtypes: object(1)
memory usage: 13.5+ MB

## Merging all 6 tables

In [15]:
# Admissions as base table
merged_df = admissions.copy()

# Joining with patients
merged_df = merged_df.merge(patients, on='subject_id', how='left')

In [16]:
# Join admissions table with patients
merged_df.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,marital_status,race,edregtime,edouttime,hospital_expire_flag,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,...,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0,F,52,2180,2014 - 2016,2180-09-09
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,...,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0,F,52,2180,2014 - 2016,2180-09-09
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,...,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0,F,52,2180,2014 - 2016,2180-09-09
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,...,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0,F,52,2180,2014 - 2016,2180-09-09
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,...,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0,F,19,2160,2008 - 2010,NaN

In [17]:
print(prescriptions)

          subject_id   hadm_id  pharmacy_id        poe_id  poe_seq  \
0           10000032  22595853     12775705   10000032-55     55.0
1           10000032  22595853     18415984   10000032-42     42.0
2           10000032  22595853     23637373   10000032-35     35.0
3           10000032  22595853     26862314   10000032-41     41.0
4           10000032  22595853     30740602   10000032-27     27.0
...              ...       ...          ...           ...      ...
20292606    19999987  23865745     95605092   19999987-63     63.0
20292607    19999987  23865745     96309533   19999987-36     36.0
20292608    19999987  23865745     96309533   19999987-36     36.0
20292609    19999987  23865745     97298610  19999987-192    192.0
20292610    19999987  23865745     98230810  19999987-209    209.0

         order_provider_id            starttime             stoptime  \
0                   P85UQ1  2180-05-08 08:00:00  2180-05-07 22:00:00
1                   P23SJA  2180-05-07 02:00:00  2180-05-07 22:00:00
2                   P23SJA  2180-05-07 01:00:00  2180-05-07 09:00:00
3                   P23SJA  2180-05-07 01:00:00  2180-05-07 01:00:00
4                   P23SJA  2180-05-07 00:00:00  2180-05-07 22:00:00
...                    ...                  ...                  ...
20292606            P213X2  2145-11-03 15:00:00  2145-11-03 18:00:00
20292607            P59FJ8  2145-11-03 00:00:00  2145-11-04 13:00:00
20292608            P59FJ8  2145-11-03 00:00:00  2145-11-04 13:00:00
20292609            P47TKY  2145-11-08 16:00:00  2145-11-11 17:00:00
20292610            P62WWA  2145-11-09 20:00:00  2145-11-11 17:00:00

         drug_type                         drug  ...      gsn           ndc  \
0             MAIN                   Furosemide  ...   008209  5.107901e+10
1             MAIN      Ipratropium Bromide Neb  ...   021700  4.879801e+08
2             MAIN                   Furosemide  ...   008208  5.107901e+10
3             MAIN           Potassium Chloride  ...   001275  2.450041e+08
4             MAIN  Sodium Chloride 0.9%  Flush  ...      NaN  0.000000e+00
...            ...                          ...  ...      ...           ...
20292606      MAIN                     Propofol  ...  65888.0  6.332303e+10
20292607      BASE         0.9% Sodium Chloride  ...   1210.0  3.380049e+08
20292608      MAIN                LeVETiracetam  ...  61005.0  1.478904e+10
20292609      MAIN                Acetaminophen  ...   4489.0  5.107900e+10
20292610      MAIN                LeVETiracetam  ...  44633.0  6.808403e+10

              prod_strength form_rx dose_val_rx dose_unit_rx form_val_disp  \
0               40mg Tablet     NaN          40           mg             1
1                2.5mL Vial     NaN           1          NEB             1
2               20mg Tablet     NaN          20           mg             1
3           10mEq ER Tablet     NaN          40          mEq             4
4             10 mL Syringe     NaN           3           mL           0.3
...                     ...     ...         ...          ...           ...
20292606  1000mg/100mL Vial     NaN        1000           mg             1
20292607          100mL Bag     NaN         100           mL           100
20292608     500mg/5mL Vial     NaN        1000           mg            10
20292609       325mg Tablet     NaN         650           mg             2
20292610      500 mg Tablet     NaN        1000           mg             2

         form_unit_disp doses_per_24_hrs    route
0                   TAB              1.0    PO/NG
1                  VIAL              4.0       IH
2                   TAB              1.0    PO/NG
3                   TAB              1.0       PO
4                   SYR              3.0       IV
...                 ...              ...      ...
20292606           VIAL              0.0  IV DRIP
20292607             mL              2.0       IV
20292608             mL              2.0       IV
20292609            TAB              NaN    PO/NG
20292610            TAB              2.0       PO

[20292611 rows x 21 columns]

In [18]:
# Preprocessing prescription table to get representable features
prescription_counts = prescriptions.groupby('hadm_id').agg({
    'drug': 'nunique',
    'pharmacy_id': 'count'
}).reset_index()
prescription_counts.columns = ['hadm_id', 'unique_medications', 'total_prescriptions']

print(prescription_counts)

         hadm_id  unique_medications  total_prescriptions
0       20000019                  18                   29
1       20000024                   9                   17
2       20000034                  28                   37
3       20000041                  27                   34
4       20000045                  31                  105
...          ...                 ...                  ...
463323  29999745                  12                   15
463324  29999803                  33                  100
463325  29999809                  39                   67
463326  29999828                  18                   40
463327  29999928                  10                   15

[463328 rows x 3 columns]

In [19]:
#Merging prescription_counts to the merged dataframe
merged_df = merged_df.merge(prescription_counts, on='hadm_id', how='left')

In [20]:
# Join with procedures
procedure_counts = procedures.groupby('hadm_id').agg({
    'seq_num': 'count',
    'icd_code': 'nunique'
}).reset_index()
procedure_counts.columns = ['hadm_id', 'total_procedures', 'unique_procedures']

print(procedure_counts)

         hadm_id  total_procedures  unique_procedures
0       20000041                 1                  1
1       20000045                 1                  1
2       20000069                 2                  2
3       20000102                 2                  2
4       20000147                 5                  5
...          ...               ...                ...
287499  29999620                 3                  2
287500  29999625                 7                  7
287501  29999670                 5                  5
287502  29999693                 2                  2
287503  29999828                 1                  1

[287504 rows x 3 columns]

In [21]:
#Merging the procedures with the merged table
merged_df = merged_df.merge(procedure_counts, on='hadm_id', how='left')

In [37]:
print(list(dischargenotes.columns))

['discharge']

In [34]:
# Merge with the discharge notes
merged_df = merged_df.merge(dischargenotes, on='hadm_id', how='left')

KeyError: 'hadm_id'

In [35]:
print(merged_df)
merged_df.describe()
merged_df.info()

        subject_id   hadm_id            admittime            dischtime  \
0         10000032  22595853  2180-05-06 22:23:00  2180-05-07 17:15:00
1         10000032  22841357  2180-06-26 18:27:00  2180-06-27 18:49:00
2         10000032  25742920  2180-08-05 23:44:00  2180-08-07 17:50:00
3         10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00
4         10000068  25022803  2160-03-03 23:16:00  2160-03-04 06:26:00
...            ...       ...                  ...                  ...
546023    19999828  25744818  2149-01-08 16:44:00  2149-01-18 17:00:00
546024    19999828  29734428  2147-07-18 16:23:00  2147-08-04 18:10:00
546025    19999840  21033226  2164-09-10 13:47:00  2164-09-17 13:42:00
546026    19999840  26071774  2164-07-25 00:27:00  2164-07-28 12:15:00
546027    19999987  23865745  2145-11-02 21:38:00  2145-11-11 12:57:00

                  deathtime  admission_type admit_provider_id  \
0                       NaN          URGENT            P49AFC
1                       NaN        EW EMER.            P784FA
2                       NaN        EW EMER.            P19UTS
3                       NaN        EW EMER.            P06OTX
4                       NaN  EU OBSERVATION            P39NWO
...                     ...             ...               ...
546023                  NaN        EW EMER.            P13JMH
546024                  NaN        EW EMER.            P38XL8
546025  2164-09-17 13:42:00        EW EMER.            P33612
546026                  NaN        EW EMER.            P036NA
546027                  NaN        EW EMER.            P95A45

            admission_location discharge_location insurance  ...  \
0       TRANSFER FROM HOSPITAL               HOME  Medicaid  ...
1               EMERGENCY ROOM               HOME  Medicaid  ...
2               EMERGENCY ROOM            HOSPICE  Medicaid  ...
3               EMERGENCY ROOM               HOME  Medicaid  ...
4               EMERGENCY ROOM                NaN       NaN  ...
...                        ...                ...       ...  ...
546023  TRANSFER FROM HOSPITAL   HOME HEALTH CARE  Medicaid  ...
546024      PHYSICIAN REFERRAL   HOME HEALTH CARE  Medicaid  ...
546025          EMERGENCY ROOM               DIED   Private  ...
546026          EMERGENCY ROOM               HOME   Private  ...
546027          EMERGENCY ROOM              REHAB  Medicaid  ...

       hospital_expire_flag gender anchor_age anchor_year anchor_year_group  \
0                         0      F         52        2180       2014 - 2016
1                         0      F         52        2180       2014 - 2016
2                         0      F         52        2180       2014 - 2016
3                         0      F         52        2180       2014 - 2016
4                         0      F         19        2160       2008 - 2010
...                     ...    ...        ...         ...               ...
546023                    0      F         46        2147       2017 - 2019
546024                    0      F         46        2147       2017 - 2019
546025                    1      M         58        2164       2008 - 2010
546026                    0      M         58        2164       2008 - 2010
546027                    0      F         57        2145       2011 - 2013

               dod unique_medications  total_prescriptions  total_procedures  \
0       2180-09-09               12.0                 14.0               1.0
1       2180-09-09               14.0                 15.0               1.0
2       2180-09-09               22.0                 28.0               1.0
3       2180-09-09               17.0                 24.0               NaN
4              NaN                NaN                  NaN               1.0
...            ...                ...                  ...               ...
546023         NaN               37.0                141.0               3.0
546024         NaN               40.0                 68.0               5.0
546025  2164-09-17               46.0                120.0               5.0
546026  2164-09-17               11.0                 17.0               2.0
546027         NaN               37.0                 80.0               2.0

       unique_procedures
0                    1.0
1                    1.0
2                    1.0
3                    NaN
4                    1.0
...                  ...
546023               3.0
546024               5.0
546025               4.0
546026               2.0
546027               2.0

[546028 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546028 entries, 0 to 546027
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            546028 non-null  int64
 1   hadm_id               546028 non-null  int64
 2   admittime             546028 non-null  object
 3   dischtime             546028 non-null  object
 4   deathtime             11790 non-null   object
 5   admission_type        546028 non-null  object
 6   admit_provider_id     546024 non-null  object
 7   admission_location    546027 non-null  object
 8   discharge_location    396210 non-null  object
 9   insurance             536673 non-null  object
 10  language              545253 non-null  object
 11  marital_status        532409 non-null  object
 12  race                  546028 non-null  object
 13  edregtime             379240 non-null  object
 14  edouttime             379240 non-null  object
 15  hospital_expire_flag  546028 non-null  int64
 16  gender                546028 non-null  object
 17  anchor_age            546028 non-null  int64
 18  anchor_year           546028 non-null  int64
 19  anchor_year_group     546028 non-null  object
 20  dod                   144966 non-null  object
 21  unique_medications    463328 non-null  float64
 22  total_prescriptions   463328 non-null  float64
 23  total_procedures      287504 non-null  float64
 24  unique_procedures     287504 non-null  float64
dtypes: float64(4), int64(5), object(16)
memory usage: 104.1+ MB