In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [21]:
admissions = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/admissions.csv")
diagnoses = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/d_icd_diagnoses.csv")
procedures = pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/d_icd_procedures.csv")
labitems =  pd.read_csv("/Users/sujangauchan/Desktop/MIMIC csv/mimic-iv-3.1/hosp/d_labitems.csv")

In [22]:
print(admissions.head())
admissions.info()

   subject_id   hadm_id            admittime            dischtime deathtime  \
0    10000032  22595853  2180-05-06 22:23:00  2180-05-07 17:15:00       NaN
1    10000032  22841357  2180-06-26 18:27:00  2180-06-27 18:49:00       NaN
2    10000032  25742920  2180-08-05 23:44:00  2180-08-07 17:50:00       NaN
3    10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00       NaN
4    10000068  25022803  2160-03-03 23:16:00  2160-03-04 06:26:00       NaN

   admission_type admit_provider_id      admission_location  \
0          URGENT            P49AFC  TRANSFER FROM HOSPITAL
1        EW EMER.            P784FA          EMERGENCY ROOM
2        EW EMER.            P19UTS          EMERGENCY ROOM
3        EW EMER.            P06OTX          EMERGENCY ROOM
4  EU OBSERVATION            P39NWO          EMERGENCY ROOM

  discharge_location insurance language marital_status   race  \
0               HOME  Medicaid  English        WIDOWED  WHITE
1               HOME  Medicaid  English        WIDOWED  WHITE
2            HOSPICE  Medicaid  English        WIDOWED  WHITE
3               HOME  Medicaid  English        WIDOWED  WHITE
4                NaN       NaN  English         SINGLE  WHITE

             edregtime            edouttime  hospital_expire_flag
0  2180-05-06 19:17:00  2180-05-06 23:30:00                     0
1  2180-06-26 15:54:00  2180-06-26 21:31:00                     0
2  2180-08-05 20:58:00  2180-08-06 01:44:00                     0
3  2180-07-23 05:54:00  2180-07-23 14:00:00                     0
4  2160-03-03 21:55:00  2160-03-04 06:26:00                     0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546028 entries, 0 to 546027
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            546028 non-null  int64
 1   hadm_id               546028 non-null  int64
 2   admittime             546028 non-null  object
 3   dischtime             546028 non-null  object
 4   deathtime             11790 non-null   object
 5   admission_type        546028 non-null  object
 6   admit_provider_id     546024 non-null  object
 7   admission_location    546027 non-null  object
 8   discharge_location    396210 non-null  object
 9   insurance             536673 non-null  object
 10  language              545253 non-null  object
 11  marital_status        532409 non-null  object
 12  race                  546028 non-null  object
 13  edregtime             379240 non-null  object
 14  edouttime             379240 non-null  object
 15  hospital_expire_flag  546028 non-null  int64
dtypes: int64(3), object(13)
memory usage: 66.7+ MB

In [23]:
print(diagnoses.head())
diagnoses.info()

  icd_code  icd_version                             long_title
0     0010            9         Cholera due to vibrio cholerae
1     0011            9  Cholera due to vibrio cholerae el tor
2     0019            9                   Cholera, unspecified
3     0020            9                          Typhoid fever
4     0021            9                    Paratyphoid fever A
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112107 entries, 0 to 112106
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   icd_code     112107 non-null  object
 1   icd_version  112107 non-null  int64
 2   long_title   112107 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

In [24]:
print(procedures.head())
procedures.info()

  icd_code  icd_version                                         long_title
0     0001            9  Therapeutic ultrasound of vessels of head and ...
1     0002            9                    Therapeutic ultrasound of heart
2     0003            9  Therapeutic ultrasound of peripheral vascular ...
3     0009            9                       Other therapeutic ultrasound
4      001           10  Central Nervous System and Cranial Nerves, Bypass
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86423 entries, 0 to 86422
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   icd_code     86423 non-null  object
 1   icd_version  86423 non-null  int64
 2   long_title   86423 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [25]:
print(labitems.head())
labitems.info()

   itemid                                label  fluid   category
0   50801           Alveolar-arterial Gradient  Blood  Blood Gas
1   50802                          Base Excess  Blood  Blood Gas
2   50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
3   50804                 Calculated Total CO2  Blood  Blood Gas
4   50805                    Carboxyhemoglobin  Blood  Blood Gas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   itemid    1650 non-null   int64
 1   label     1646 non-null   object
 2   fluid     1650 non-null   object
 3   category  1650 non-null   object
dtypes: int64(1), object(3)
memory usage: 51.7+ KB